/* 

1. Add your custom Css styles below
2. Place the this code in your template: 

 <link href="css/custom.css" rel="stylesheet">

*/


/* ----------------------------------------------------------------------
    Technologies Logo
-------------------------------------------------------------------------*/
.h-bg-g div:hover {
	background-color: #f8f8f8;
	transition: 0.5s;
}

.h-bg-g img {
	height: auto;
	padding: 36px !important;
	max-width: 100%;
}

.h-bg-g span {
	display: block;
	text-align: center;
}